$main-color: #2b59b2;
// Sửa đổi thuộc tính của bootstrap
.nav-link {
    animation-timing-function: 0s;
}
// Class dùng chung
.font-size-small {
    font-size: 8px!important;
}

//
.col-xl-3.h-100.position-fixed {
    z-index: 100000;
    width: 17%;
    background-color: white;
    box-shadow: 0px 1px 1px 1px rgb(235, 233, 233);
}

.col-9.position-fixed {
    width: 83%;
    right: 0;
    text-align: right;
    box-shadow: 1px 0px 1px 1px rgb(235, 233, 233);
}

i.before {
    min-width: 30px;
    color: $main-color;
    +span {
        color: #626262;
    }
}

i.after {
    color: #626262;
    padding-top: 6px;
    float: right;
}

i.fa-bell {
    font-size: 25px;
    transform: translateY(12px) translateX(-20px);
    position: relative;
    .badge {
        position: absolute;
        top: -10px;
        right: -7px;
        width: 18px;
        font-size: 10px;
        border-radius: 50%;
        background-color: $main-color;
    }
}
i.fa-bell:hover .notify--show {
    display: block;
}

.notify--show {
    display: block;
    position: relative;
    .card {
        position: absolute;
        .card-header {
            background-color: $main-color;;
            color: white;
        }
        .card-header:hover {
            cursor: pointer;
        }
    }
    
}